spring: 
  profiles: 
    active: 
    - dev
---
server: 
  port: 8201
spring: 
  profiles: dev
  application: 
    name: microservice-config-client
eureka:
  client: 
    service-url: 
      defaultZone: http://127.0.0.1:7001/eureka/
---
server: 
  port: 8202
spring: 
  profiles: test
  application: 
    name: microservice-config-client
eureka:
  client: 
    service-url: 
      defaultZone: http://127.0.0.1:7001/eureka/